.detail-specialty-container{
    margin: 0 100px;
    .description-specialty{
        margin:20px 0;
        box-shadow: 0 6px 6px #20212447;
        position: relative;
        padding: 20px;
    }
    .a{
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        flex-direction: column;
        height: 100px;
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0.3;
        height: 100%;
        filter: blur(10px);
    }

    .search-specialty-doctor{
        select{
            height: 30px;
            border-radius: 6px;
            background-color: azure;
        }
    }
    .each-doctor{
        display: flex;
        min-height: 300px;
        margin: 20px 0;
        border-radius: 5px;
        box-shadow: 0 1px 6px #20212447;
        background-color: #fff;
        padding: 5px;
        .dt-content-left{
            padding: 10px;
            width: 50%;
            border-right: 1px solid black;
            .profile-doctor-container{
                .content-right{
                    padding: 10px;
                }
            }
        }
        .dt-content-right{
            padding: 10px;
            width: 50%;
           .doctor-schedule{
               
                .doctor-schedule-container{
                    border: none !important;
                }
            
           }
            .doctor-extra-infor{
                margin-top: 10px;
                padding-top: 10px;
                .doctor-extra-infor-container{
                    padding-left: 0px !important;
                }
            }
        }
    }
}