.vetify-email-container{
    .infor-booking{
        text-align: center;
        font-weight: 600;
        margin-top: 50px;
        font-size: 1.6rem;
        color: blue;
        opacity: 0.9;
        text-transform: uppercase;
    }
}