.more-handbook-container {
    .content {
        width: 90%;
        margin: 40px auto;
        box-shadow: -4px 2px 4px 2px #0000004d;

        .handbook-detail {
            min-height: 120px;
            display: flex;
            padding: 15px;

            border: 8px solid white;
            background-color: rgb(247, 252, 253);

            .img {
                border-radius: 50%;
                width: 130px;
                height: 130px;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                cursor: pointer;
            }

            .name {
                margin-left: 30px;
                font-size: 1.2rem;
                color: #333;

                .name-handbook {
                    margin-bottom: 10px;
                }
            }
        }
    }
}